:root {
  font-size: 16px;

  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --blue-1: #e3fafc;
  --blue-2: #339af0;
  --blue-3: #c1f2ff;
  --red: #f2542d;
  --green: #12b886;
  --gray-1: #f0f0f0;
  --gray-2: #d0d0d0;

  --primary: var(--blue-2);
  --secondary: var(--blue-1);
  --success: var(--green);
  --accent: var(--red);

  /* Borders */
  --border-radius: 8px;

  /* Fonts */
  --manrope: Manrope, --apple-system, Roboto, Ubuntu, sans-serif;
  --inter: Inter, --apple-system, Roboto, Ubuntu, sans-serif;
}
