.tableArea {
  :nth-child(4) {
    grid-row-start: 4;
  }

  :nth-child(6) {
    grid-row: 2/4;
  }

  :nth-child(9) {
    grid-row: 2/4;
  }

  :nth-child(n + 5):nth-child(-n + 7) {
    grid-column-start: 2;
    width: 3rem;
    height: 6rem;

    :nth-child(1) {
      :nth-child(1) {
        top: calc(50% - 0.875rem);
        right: -1rem;
      }
    }
  }
}

.table {
  width: 6rem;
  height: 3rem;
}

.tableStatusIndicator {
  right: calc(50% - 0.875rem);
}
