.tableArea {
  width: 30rem;
  height: 30rem;
  background: #c1f2ff;
  border-radius: 16px;

  :nth-child(4) {
    grid-row-start: 4;
  }

  :nth-child(6) {
    grid-row: 2/4;
  }

  :nth-child(n + 5):nth-child(-n + 7) {
    grid-column-start: 2;
    width: 2rem;
    height: 4rem;

    :nth-child(1) {
      :nth-child(1) {
        margin-top: -1.25rem;
      }
    }
  }
}
