.table {
  width: 4rem;
  height: 2rem;
  font-weight: bold;
  color: var(--black);
  cursor: pointer;
  background-color: var(--white);
  border-radius: 0.175rem;
  transition: 0.15s;
}

.tableStatusIndicator {
  width: 1rem;
  height: 1rem;
  margin-left: 1.5rem;
  border: 2px solid var(--white);
  border-radius: 50%;
}
